.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #111;
  color: #fff;
  padding: 1rem;
  align-items: center;
}

.products li:hover {
  animation: hoverLi 0.5s ease;
  animation-fill-mode: forwards;
}
.products li:hover button {
  color: white;
}
@keyframes hoverLi {
  from {
  }
  to {
    /* box-shadow: 12px 12px 18px rgb(255, 193, 86); */
    box-shadow: 2px 2px 10px rgba(201, 162, 95, 0.75);
    transform: scale(106%);
  }
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}

.products button {
  color: rgb(186, 177, 177);
}
button {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.products button:hover {
  background-color: black;
}
